# Copy this file to local.bru and fill in your values.
# local.bru is gitignored to prevent accidental credential leaks.

vars {
  baseUrl: http://localhost:9080
  accessToken: 
  refreshToken: 
  adminEmail: your@email.com
  adminPassword: yourpassword
  targetUserId: system
  targetGroupId: 1
  targetGroupName: Test Group
  targetProviderId: phorge
  targetProviderUrl: https://phabricator.example.com
  targetProviderToken: cli-YOURTOKEN
  githubSearchStartDate: 2026-06-01
  githubSearchEndDate: 2026-06-30
  githubSearchAuthoredOnly: false
}

vars:secret [
  accessToken,
  refreshToken
]
